<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.DefaultCompany.FEGardenary"
    xmlns:tools="http://schemas.android.com/tools">
	
	<!-- 인터넷 사용 권한 설정 -->
	<uses-permission android:name="android.permission.INTERNET" />
			
    <application android:name="com.DefaultCompany.FEGardenary.GlobalApplication">
        <activity android:name="com.unity3d.player.UnityPlayerActivity"
                  android:theme="@style/UnityThemeSelector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
			
		    <intent-filter>
                <data android:host="oauth" android:scheme="kakaoe24441fe04b1978c7c179a9215a2ee2f" />
            </intent-filter>

            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>
	    <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
				<data android:host="oauth"
                    android:scheme="kakaoe24441fe04b1978c7c179a9215a2ee2f" />
			</intent-filter>
		</activity>
    </application>
</manifest>
